<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>我的生活</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>

	</head>

	<body style="background: #f5f5f5">
		<div id="app" class="good">

		<div class="header_view" >
        <img src="../img/left.png" onclick="backto()">
        <p>评价</p>
        <p></p>
        
      </div>

      <!-- 提示 -->
      <div style="height: 1.067rem"></div>
     


      <div class="detail_order_top_good" v-for="i in 5" style="margin-top: 0;border-bottom: 0.013rem solid #efefef ">

        <div>
          
   <img src="../img/bluewhie.png">

        </div>

        <div>
          <div class="detail_order_top_good_top">
          

    <div>
        
          <p>郑林林  </p>

    </div>

          <p>
            <img src="../img/eglass-star.png" v-for="i in 5">

          </p>
        </div>

        <p class="p_color">通过成型的人工乳房假体内以改善胸部的大小。运用
黄金美学自定个人乳房挺拔度来量身做属于自己的身通过成型的人工乳房假体内以改善胸部的大小。运用
黄金美学自定个人乳房挺拔度来量身做属于自己的身</p>

        <div class="detail_order_top_good_image">
          
          <img src="../img/zipai.jpg" v-for="i in 6">

        </div>
        <div class="detail_order_top_good_text" >
         <p>2018.1.10</p>
         <p class="allev">
            <span>价格实惠，质量超棒！！给医生5星好评！！！</span>
            <span>￥5200</span>
         </p>

        </div>
          

        </div>
        
      		

      	

      	
      </div>

     

      

			
		

		



		
		



		


		

	






		
			
			
			

		</div>

		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue-router.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/commom.js" type="text/javascript" charset="utf-8"></script>

		<script src="../js/flexible.js" type="text/javascript" charset="utf-8"></script>
		<script>
			
    new Vue({
      el: '#app',
      data(){
      	return{
      		selected:[],
      		id:1,
      		curnum:1,
      		allshow:false,
      		bgshow:false
      		
      	}
      },
      methods: {
        handleClick: function() {
          this.$toast('Hello world!')
        },
        checknum(e){
        this.shoparr[e].show=!this.shoparr[e].show

        },
        call(){
        		this.bgshow=true
        },
        closeviewbg(){
        		this.bgshow=false

        },
        goto(e){
        	window.location.href=e
        

        },
         callphone(){
          window.location.href = "tel:10086";
        }
      }
    })
  </script>

	</body>

</html>