<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>我的生活</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>

	</head>

	<body style="background: #f5f5f5">
		<div id="app" class="myself">


		<div class="header_view" >
        <img src="../img/left.png" onclick="backto()">
        <p>会员名</p>
        <p>
            
        </p>
        
      </div>



      <div class="username_change">
        
<mt-field  placeholder="请输入用户名" v-model="value" @input="usernameshow" @blur="loseme"></mt-field>
        <!-- <input type="text" v-model="value" name="" @focus="usernameshow" @blur="loseme"> -->
      </div>



          <span v-if="showme" class="addname" >保存</span>
      











		

		



		

		









		
			
			
			

		</div>

		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue-router.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/commom.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/flexible.js" type="text/javascript" charset="utf-8"></script>
		<script>
			
    new Vue({
      el: '#app',
      data(){
      	return{
      		selected:[],
      		id:1,
      		curnum:1,
      		allshow:false,
      		showstyle:false,
      		card:'',
      		city:'',
      		cardnum:'',
      		bank:'',
      		idcard:'',
      		phone:'',
      		cash:'',
      		bgshow:false,
          value:"蓉蓉",
      		showme:false
      	}
      },
      methods: {
        handleClick: function() {
          this.$toast('Hello world!')
        },
        changeinput(){

        	if(this.card==''||this.city==''||this.cardnum==''||this.bank==''||this.idcard==''||this.phone==''||this.cash==''){
        		this.showstyle=false
        	}else{
        		this.showstyle=true
        	}

        },
        usernameshow(){
            this.showme=true
        },
        loseme(){
            this.showme=false

        },
        checknum(e){
        this.shoparr[e].show=!this.shoparr[e].show

        },
        goto(e){
          window.location.href=e
        },
        tosend(){
        	var that=this
        	if(this.showstyle){
        		this.bgshow=true;
        		setTimeout(function(){
        		that.bgshow=false;

        		},3000)

        	}
        }
      }
    })
  </script>

	</body>

</html>