<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>我的生活</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>

	</head>

	<body style="background: #f5f5f5">
		<div id="app" class="place">
				<div class="header_view" >
        <img src="../img/left.png" onclick="backto()">
        <p>收货地址</p>
        <p></p>
        
      </div>



<div style="height: 1.067rem"></div>

<mt-cell-swipe
  :right="[
    {
      content: '删除',
      style: { background: 'red', color: '#fff',width:'2.16rem',display:'flex'  },
      handler: () => deleteSection()
    }
  ]"   v-for="(i,index) in 4">

   <div class="scollview">  <span class="viewspan" :class="mystyle==index?'pplaveactive':'' "
   @click="spancheck(index)"></span>  <div> <p><span>小明180****0909</span> <span>编辑</span>

      </p>
      <p>上海站北区皇上路30弄2号402室</p>
    </div>

    
  </div>
    

  </mt-cell-swipe>

<!-- <div class="checkplace" @click="spancheck">
  
  <span :class="spanif?'plaveactive':'' "></span>
  <p>设为默认地址</p>
</div> -->



<div class="tosend" :class="showstyle?'toactive':'' "  style="margin-top: 2.787rem;background-color: #fd84b9;" @click="goto('addplace.html')">
	

新增地址
</div>



<div class="bgback" v-if="bgshow" >
	
	<div class="shareholder_bg">
		<p>我们已经收到您的申请，请保持电话畅通,
我们将尽快与您进行联系，谢谢！</p>
<div @click="hideme">确定</div>

	</div>

</div>
		

		



		

		









		
			
			
			

		</div>

		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue-router.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/commom.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/flexible.js" type="text/javascript" charset="utf-8"></script>
		<script>
			
    new Vue({
      el: '#app',
      data(){
      	return{
      		selected:[],
      		id:1,
      		curnum:1,
      		allshow:false,
      		showstyle:false,
      		card:'',
      		username:'',
      		money:'',
      		bank:'',
      		idcard:'',
      		phone:'',
      		cash:'',
      		bgshow:false,
          spanif:false,
          startX: 0,       //触摸位置
          moveX: 0,       //滑动时的位置
          disX: 0,       //移动距离
          txtStyle: '',
          delWidth: 200,
          top: '',
          zIndex: 'z-index:-1',
          mystyle:-1,
          startX : 0 ,
          endX : 0 ,

      		
      	}
      },
      created() {
      this.rightButtons = [
        {
          content: '删除',
          style: { background: 'red', color: '#fff' },
        }
      ];
    },
      methods: {
     deleteSection(){
    this.$toast('删除了')
     }, 
            
            
            showdele(){

            },



            skip(){
  if( this.checkSlide() ){
  this.restSlide();
      }else{
  alert('You click the slide!')
      }
      },

        handleClick: function() {
          this.$toast('Hello world!')
        },
        goto(e){
          window.location.href = e;

        },
        changeinput(){

        	if(this.username==''||this.phone==''||this.money==''){
        		this.showstyle=false
        	}else{
        		this.showstyle=true
        	}

        },
        checknum(e){
        this.shoparr[e].show=!this.shoparr[e].show

        },
        tosend(){
        	var that=this
        	if(this.showstyle){
        		this.bgshow=true
        	}
        },
        hideme(){
        	this.bgshow=false
        },
        spancheck(e){

          this.mystyle=e
        }
      }
    })
  </script>

	</body>

</html>