<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>我的生活</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>

	</head>

	<body style="background: #f5f5f5">
		<div id="app">


		<div class="header_view" >
        <img src="../img/left.png" onclick="backto()">
        <p>提现记录</p>
        <p></p>
        
      </div>


      <div class="cashhis"> 

        <div v-for="(i,index) in 5">
          <p>
            <span>编号：456786</span>
            <span>2018-08-28</span>
          </p>

          <p>
            <span>金额：5000.00</span>
            <span v-if="index<=2">+5000.00</span>
            <span class="cashing" v-if="index==3">提现中</span>
            <span class="lose_cash" v-if="index==4">
              <span>提现失败</span>
              <span>请联系公司</span>


            </span>

          </p>
        </div>
        
      </div>



      











		

		



		

		









		
			
			
			

		</div>

		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue-router.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/commom.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/flexible.js" type="text/javascript" charset="utf-8"></script>
		<script>
			
    new Vue({
      el: '#app',
      data(){
      	return{
      		selected:[],
      		id:1,
      		curnum:1,
      		allshow:false,
      		showstyle:false,
      		card:'',
      		city:'',
      		cardnum:'',
      		bank:'',
      		idcard:'',
      		phone:'',
      		cash:'',
      		bgshow:false

      		
      	}
      },
      methods: {
        handleClick: function() {
          this.$toast('Hello world!')
        },
        changeinput(){

        	if(this.card==''||this.city==''||this.cardnum==''||this.bank==''||this.idcard==''||this.phone==''||this.cash==''){
        		this.showstyle=false
        	}else{
        		this.showstyle=true
        	}

        },
        checknum(e){
        this.shoparr[e].show=!this.shoparr[e].show

        },
        tosend(){
        	var that=this
        	if(this.showstyle){
        		this.bgshow=true;
        		setTimeout(function(){
        		that.bgshow=false;

        		},3000)

        	}
        }
      }
    })
  </script>

	</body>

</html>